*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root
{
  position: relative;
}

h1
{
  font-size: 2rem;
}

h2
{
  font-size: 1.5rem;
}

h3
{
  font-size: 1.17rem;
}